.content-main{
    --background: #075E54;
    text-align: center;
}

.card-container{
    --background: #075E54;
    padding: 30px;
}

.item-input{
    --background: #128C7E;
    border-radius: 10px;
    margin-top: 25px;
    color: white;
}

.register-button{
    --background: #34B7F1;
    border-radius: 10px;
    width: 85%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title-register{
    margin-top: 150px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    color: white;
}

.url-content{
    color:#34B7F1;
    margin-top: 90px;

}
.icon{
    color: white;
}