<ion-content class="content-main">
  <div class="title-register">
    CREAR UNA CUENTA 
    <br>NUEVA
  </div>

  <div class="card-container" mode="ios">
    
    <ion-item lines="none" class="item-input" >
      <ion-input  [(ngModel)]="datauser.email" type="email" placeholder="Correo" #email required>
      </ion-input>
      <ion-icon slot="end" class="icon" name="at-outline" ></ion-icon>
    </ion-item>

    <ion-item lines="none" class="item-input" >
      <ion-input  [(ngModel)]="datauser.celular" placeholder="Celular">
      </ion-input>
      <ion-icon slot="end" class="icon" name="call-outline"></ion-icon>
 
    </ion-item>


    <ion-item lines="none" >
      <ion-input [(ngModel)]="datauser.password" type="password" placeholder="Contraseña" #password required>
      </ion-input>
      <ion-icon slot="end" class="icon" name="lock-closed-outline" ></ion-icon>
    </ion-item>
    
    <ion-item lines="none" class="item-input" >
      <ion-input [(ngModel)]="datauser.referencia" placeholder="Referencia" >
      </ion-input>
      <ion-icon slot="end" class="icon" name="storefront-outline" ></ion-icon>
    </ion-item>
  </div>

  <div>
    <ion-button (click)="registro(email,password)" class="register-button" mode="ios">
      CREAR CUENTA
    </ion-button>
  </div>
  <div class="url-content">
    <u routerLink="/login" >Iniciar Sesion</u>
  </div>

</ion-content>