.content-main{
    --background: #dee2e6;
}
.div-partido{
    width: 100%;
    height: auto;
    background: #588157 ;
}
.row-division{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
}
.label-marcador{
    font-size: 50px;
    font-weight: 300;
}
.col-marcador{
    text-align: center;
}

.col-division{
    text-align: center;
}

.avatar-aways{
    // display: inline-block;
    --background: white;
    margin-left: auto;
    // margin-right: auto;
}
.avatar-teams{
    // display: inline-block;
    --background: white;
    // margin-left: auto;
    margin-right: auto;
}

.col-name-team{
    text-align: center;
}
.col-time-status{
    text-align: center;
}
.col-venue-name{
    text-align: center;
}
.col-venue-city{
    text-align: left;
}
.segment-values{
    --background: #ffffff;
}

.label-text-segment{
    color: #fdf0d5;
}

ion-segment-button{
    --background: #4f772d;
    // --background-checked: #4ad66d  ;
    --background-hover: #8ac926 ;
}

.main-content{
    width: 100%;
    height: 100%;
    
}

.container-detalles{
    width: 100%;
    height: 100%;
    background: #31572c;
}

.main-content{
    width: 100%;
    height: auto;

}

.container-otros{
    width: 100%;
    height: 100%;
    background: #4f772d;

}