.content-resultados{
    --background: #fff;
}

ion-toolbar{
    --background: #075E54;
    color: white; 
}
.grid_encabezado{



}
.titulo{
    color: black;
    font-weight: bold;

    text-align: left;
}


.text_encabezado{

    font-size: 12px;
    font-weight: bold;
    color: black;
}

.col_encabezado{
    // border: 1px black solid;
    text-align: center;
}