<ion-header>
  
  <ion-toolbar mode="md">
    <ion-title style="text-align: center;">Prodv</ion-title> 

    <ion-buttons slot="start">
       <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons> 

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']"> 
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons> 
 
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
