<ion-header>
  <ion-toolbar>
    <ion-title>Ligas Internacionales de Futbol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

  <ion-content>
    <ion-button (click)="showBanner()" expand="full">Show Banner</ion-button>
    <ion-button (click)="hideBanner()" expand="full">Hide Banner</ion-button>
  
    <ion-button (click)="showInterstitial()" expand="full">Show Interstitial</ion-button>
    <ion-button (click)="showRewardVideo()" expand="full">Show Reward Video</ion-button> 
  </ion-content>

</ion-content>
