
ion-tab-bar{
    align-self: center;
    bottom: 0;
    --background: #075E54;
    border-radius: 20px;
    --color:#fff;
    margin-bottom: 10px;
    position: absolute;
    width: 90%;
}
ion-tab-button{
    --color-selected:#25D366;
}

.text-selected-item{
    font-size: 12px;
    font-weight: normal;
}