<ion-header>

  <ion-toolbar mode="md">
    <ion-title style="text-align: center;">Prodv</ion-title>

    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="content-resultados">
  <ion-fab class="boton_mas" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="estado=true">
      <ion-icon color="light" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngIf="estado" class="Nuevo_partido">
    <ion-card-header>
      <ion-card-title>
        Nuevo partido
      </ion-card-title>
    </ion-card-header>
   

    <ion-item lines="none" class="IonInput">

      <ion-label>
        Fecha de recepcion
      </ion-label>
      <ion-datetime class="fecha" [(ngModel)]="encuentro.fecha" mode="ios" monthValues="1,2,3,4,5,6,7,8,9,10,11,12"
        yearValues="2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030"
        dayValues="01,02,03,04,05,06,08,09,10, 11, 12, 13, 14, 15, 16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31"
        displayFormat="DD/MMM/YYYY">
      </ion-datetime>

    </ion-item>




    <ion-item lines="none" class="IonInput">
      <ion-label class="ion-label-item">Tipo de partido:</ion-label>
      <ion-input class="campos"  (click)="newMatch()" [(ngModel)]="encuentro.tipo" placeholder="Seleccione tipo de partido">
      </ion-input>
    </ion-item>

    <ion-item *ngIf="grupo" lines="none" class="IonInput">
      <ion-label class="ion-label-item">Grupo:</ion-label>
      <ion-input class="campos"  (click)="newTeam()" [(ngModel)]="encuentro.grupo" placeholder="Seleccione tipo de partido">
      </ion-input>
    </ion-item>

    <!-- Inicio Grupo 1 -->
    <ion-item *ngIf="grupo1"  lines="none" class="IonInput">
      <ion-label>Equipo 1</ion-label>
      <ion-select  class="campos" [(ngModel)]="encuentro.nombre_e1" placeholder="Seleccione grupo">
        <ion-select-option *ngFor="let equipos of team"  value={{equipos.nombre}}>{{equipos.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="grupo1" lines="none" class="IonInput">
      <ion-label>Equipo 2</ion-label>
      <ion-select class="campos" [(ngModel)]="encuentro.nombre_e2" placeholder="Seleccione grupo">
        <ion-select-option *ngFor="let equipos of team" value={{equipos.nombre}}>{{equipos.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

 <!-- Final Grupo 1 -->

  <!-- Inicio Grupo 2 -->
    <ion-item *ngIf="grupo2" lines="none" class="IonInput">
      <ion-label>Equipo 1</ion-label>
      <ion-select class="campos" [(ngModel)]="encuentro.nombre_e1" placeholder="Seleccione grupo">
        <ion-select-option *ngFor="let equipos of team" value={{equipos.nombre}}>{{equipos.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="grupo2" lines="none" class="IonInput">
      <ion-label>Equipo 2</ion-label>
      <ion-select class="campos" [(ngModel)]="encuentro.nombre_e2" placeholder="Seleccione grupo">
        <ion-select-option *ngFor="let equipos of team" value={{equipos.nombre}}>{{equipos.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
 <!-- Final Grupo 2 -->

    <ion-card-content class="botones">
      <ion-button (click)="estado=false" class="button-cancelar">Cancelar</ion-button>
      <ion-button (click)="saveMatch()" class="button-guardar">Guardar</ion-button>

    </ion-card-content>

  </ion-card>

  <ion-title class="titulo"> Lista de partidos </ion-title>

  <!-- <ion-card *ngFor="let equipo of team" class="equipos">

    <ion-grid>
      <ion-row>
        <ion-col class="col_img" size="4">
          <ion-item lines="none" class="item_avatar">
            <img class="con_img" [src]="equipo.escudo">
          </ion-item>
        </ion-col>
        <ion-col class="col_text" size="5">
          <ion-card-content value="recibidos">
            <ion-label class="label_tittle">
              Nombre:
            </ion-label>
            <br />
            <ion-label class="label_text">
              {{equipo.nombre}}
            </ion-label>
            <br />

          </ion-card-content>

        </ion-col>
        <ion-col class="col_icon" size="3">
          <ion-card-content class="card-icon">
            <ion-label class="label_tittle">Editar</ion-label>
            <br />
            <ion-buttons class="button">
              <ion-button routerLink="/edit-equipo" (click)="getEquipo(equipo)">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-content>

        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>
   -->
</ion-content>