<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="partidos">
      <ion-icon name="football-outline"></ion-icon>
      <ion-label>Partidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="resultados">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Resultados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabla">
      <ion-icon name="ribbon-outline"></ion-icon>
      <ion-label>Tabla</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>