.content-resultados {
    --background: #f3eded;
    --padding-bottom: 70px;
}

ion-toolbar {
    --background: #075E54;
    color: white;
}

ion-segment {
    --background: #075E54;
    // border: 1px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    // margin-top: 3%;
    // --color: black;
}

ion-segment-button {
    font-size: 14px;
    font-weight: bold;
    --border-color: #404041;
    --indicator-color: #128C7E;
    --color: white;
    // padding: 3px;
}

.titulo {
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

.row_grupo {
    background: #075E54;
    padding: 5px;
}

.grid_encabezado {

    background: white;
}

.col_escudo {

    // border: 1px solid black;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.escudo {
    height: 20px;
    width: 20px;
}

.text-selected-item {
    --color: #fff;
    font-size: 14px;
}

.grupos {

    background: white;
    border: 1px solid #f3eded;
    // border-radius: 10px;  
    --color: #000000;
}

.toolbar_campeonato {
    height: auto;
    --background: #075E54;
    width: auto;
}

.info_campeonato {
    // padding-top: 10px;
    // padding-bottom: 10px;
    background: white;
    text-align: center;
    height: auto;
}

.segment_campeonatos {
    --background: #075E54;
    border-radius: 0px;
    width: auto;

}

::-webkit-scrollbar {
    display: none;
}

.segment_botones_campeonatos {
    --indicator-color: transparent;
    // text-align: center;
    margin-right: 10px;
    --border-color: transparent;
    border-radius: 30px;
    border: 1px white solid;
    --color: white;

}

.text_segment {
    font-weight: bold;
    text-align: center;
    font-size: 10px;
    // border: 1px red solid;
}

.info_campeonato {
    // padding-top: 10px;
    // padding-bottom: 10px;
    background: white;
    text-align: center;
    height: auto;
}

.titulocampeonato {
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-left: 10px;

}

.text_encabezado {

    font-size: 10px;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
}

.text_equipo {
    font-weight: bold;
    font-size: 9px;
    color: black;
}

.col_equipo {
    text-align: left;
}

.text_puntos {
    font-size: 10px;
    font-weight: bold;
    color: black;

}

.col_encabezado {

    text-align: center;

}

.col_encabezado_datos {
    // border: 1px black solid;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    --width: 3px;
}