.content-resultados{
    --background: #f3eded;
}

ion-toolbar{
    --background: #075E54;
    color: white; 
}

ion-segment{
    --background: #FFFFFF; 
    border: 1px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 3%;
}
ion-segment-button{
    font-size: 14px;
    font-weight: bold;
    --border-color: #404041;
    --indicator-color: #128C7E; 
    --color: #000000; 
    // padding: 3px;
} 
.titulo{
    color: white;
    font-weight: bold;
    
    text-align: left;
}
.row_grupo{
    background: #075E54;
    padding: 5px;
}

.grid_encabezado{

    background: white;
}


.grupos{

    background: white;
  border: 1px solid #f3eded;  
  // border-radius: 10px;  
  --color: #000000;
}
.text_encabezado{

    font-size: 12px;
    color: black;
}

.col_equipo{

    
    text-align: left;
}

.text_puntos{
    font-size: 12px;
    font-weight: bold;
    color: black;

}

.col_encabezado{
    // border: 1px black solid;
    text-align: center;
}