.content_login{
    --background: #075E54;
    text-align: center;
}

.Tittle_inicial{

    font-size: 30px;
    text-align: center;
    margin-top: 150px;
    color: white;
}
.content_items{
    margin-top: 90px;
    width: 80%;
    margin-left: auto;
    margin-right:auto ;
    --background: #075E54;
    
}
.Item_input{
    margin-top: 5%;
    border-radius: 10px;
    --background: #128C7E;  
}
.icon{
    color: white;

}
.div_boton{   
    margin-top: 50px;
}

.boton{
    width: 100%;
    --background: #34B7F1;
}

.div_nueva_cuenta{

    margin-top: 80px;
}

.nueva_cuenta{
    color: #34B7F1;
}