<ion-app>
  <ion-split-pane contentId="main" when="lg">
    <!--  the side menu  -->
    <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
      <ion-header mode="ios">
        <ion-toolbar>

          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <ion-thumbnail>
                  <img src="assets/icons/icon-128x128.png">
                </ion-thumbnail>
              </ion-col>
              <ion-col size="9">

                <ion-row>
                  <ion-col>PRODV</ion-col>
                </ion-row>
                <!-- <ion-row><ion-col>TU APP DEPORTIVA</ion-col></ion-row> -->

              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-toolbar>

      </ion-header>

      <ion-content>

        <ion-list lines="none" mode="ios">

          <ion-menu-toggle routerLink="/home">
            <ion-item class="item-menu" button details lines="none">
              <ion-label>
                Inicio
              </ion-label>

              <ion-icon slot="start" color="black" name="home-outline"></ion-icon>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle routerLink="/tab-inicial/partidos">
            <ion-item class="item-menu" button details lines="none">
              
              <ion-img src="../assets/icon/Recurso 9logo_Gualaquiza.png" class="img_logo" slot="start"> </ion-img>
              <div class="div_gualaquiza">
                <div class="text_gualaquiza">
                  <ion-label class="copa">
                    Copa
                  </ion-label>

                </div>
                <div class="div_imglogo">
                  <img class="img_gualaquiza" src="../assets/icon/Gualaquizalogo.png">
                </div>
              </div>
              </ion-item>
            
          </ion-menu-toggle>

          <ion-menu-toggle routerLink="/tab-campeonato/equipos" *ngIf="admin">
            <ion-item class="item-menu" button lines="none">
              <ion-label>
                Campeonato
              </ion-label>
              <ion-icon slot="start" color="black" name="football-outline"></ion-icon>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle routerLink="/nacional">
            <ion-item class="item-menu" button lines="none">
              <ion-label>
                Liga Pro Betcris
              </ion-label>
              <ion-icon slot="start" color="black" name="golf-outline"></ion-icon>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle routerLink="/internacional">
            <ion-item class="item-menu" button lines="none">
              <ion-label>
                Futbol Internacional
              </ion-label>
              <ion-icon class="iconos" slot="start" color="white" name="earth-outline"></ion-icon>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle routerLink="/noticias">
            <ion-item class="item-menu" button lines="none">
              <ion-label>
                Noticias
              </ion-label>
              <ion-icon slot="start" color="black" name="newspaper-outline"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
          <!-- 
          <ion-menu-toggle routerLink="/ayuda">
            <ion-item class="item-menu" button lines="none">
              <ion-label>
                Ayuda
              </ion-label>
              <ion-icon slot="start" color="black"  name="information-circle-outline"></ion-icon> 
            </ion-item>
          </ion-menu-toggle> -->

        </ion-list>
        <div class="div_boton">
          <ion-button class="salir" (click)="Salir()">Cerrar Sesión</ion-button>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>


</ion-app>