ion-toolbar{
    --background: #34B7F1;
    --border-color: #34B7F1;
    height: 150px;
}
ion-menu{
    --background: #34B7F1;
}  
ion-content{
    --background: #34B7F1;
}

.item-menu{ 
    --color: #FFF;
    --color-activated: #3c6e71;
    --background: #34B7F1; 
    --padding-top: 3px; 
    --padding-bottom: 3px;

} 

.div_boton{
    text-align: center;
    margin-top: 50px;
    
}

.salir{
    --border-radius: 5px;
    --background: #075E54;
}

ion-grid{
    --ion-grid-padding: 30px
}
.div_gualaquiza{
    margin-top: auto;
    margin-bottom: auto;
    display:flex;
}
.img_gualaquiza{
    
    height: 35px;
    width: 110px;
}

.div_imglogo{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3px;
    //  border: 1px solid black;
}


.text_gualaquiza{
    margin-top: auto;
    margin-bottom: auto;
    // border: 1px solid blue;
    height: 33px;
}

.img_logo{

    height: 30px;
    width: 30px;
}

.copa{
    font-size: 30px;
    font-family: Cream Cake;
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}


// @font-face{
//     font-family: Cream Cake;
//     src: url(CreamCake.otf);
// }