ion-toolbar{
    --background: #d9d9d9;
    height: 150px;
}
ion-menu{
    --background: #d9d9d9;
}  
ion-content{
    --background: #d9d9d9;
}

.item-menu{ 
    --color: #001427;
    --color-activated: #3c6e71;
    --background: #edf6f9; 
    --padding-top: 3px; 
    --padding-bottom: 3px;

} 

.iconos{

}
.div_boton{
    text-align: center;
    margin-top: 50px;
}

.salir{

    --background: #34B7F1;
}