<ion-header>
  <app-header></app-header>
</ion-header>


<ion-content class="content_pri">

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="match">
        <ion-icon name="football-outline"></ion-icon>
        <ion-label>Partidos</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
      
      <ion-tab-button tab="result">
        <ion-icon name="clipboard-outline"></ion-icon>
        <ion-label>Resultados</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="table">
        <ion-icon name="ribbon-outline"></ion-icon>
        <ion-label>Tabla</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>
</ion-content>