.content_pri{
    --background: rgb(102, 83, 83);

}
ion-tab-bar{

    align-self: center;
    --background: #128C7E;
    border-radius: 20px;
    bottom: 0;
    position: absolute;
    width: 90%;


}

ion-grid{
background: rgb(90, 90, 133);
}

.div-heroes{
    
    background: rgb(14, 14, 15);
}