<ion-header>
  <app-header></app-header>
</ion-header>


<ion-content class="content_pri">
  <ion-title class="titulo"> Subir resultados del partido</ion-title>
  <ion-card  class="Nuevo_partido">


    <ion-item lines="none" class="IonInput">
      <ion-label  class="ion-label-item">{{encuentro.nombre_e1}}</ion-label>
      <ion-input type="number" slot="end" class="campos"  [(ngModel)]="encuentro.res_e1"
        >
      </ion-input>
    </ion-item>

    <ion-item lines="none" class="IonInput">
      <ion-label  class="ion-label-item">{{encuentro.nombre_e2}}</ion-label>
      <ion-input type="number" slot="end" class="campos"  [(ngModel)]="encuentro.res_e2"
        >
      </ion-input>
    </ion-item>
   
    
    <ion-card-content class="botones">
      <ion-button (click)="restart()" routerLink="/tab-campeonato/partidos"  class="button-cancelar">Cancelar</ion-button>
      <ion-button (click)="saveMatch()" class="button-guardar">Guardar</ion-button>
    </ion-card-content>


    <div class="botones">
      <ion-button (click)="deleteMatch()" class="button-eliminar">Eliminar Partido</ion-button>
    </div>

  </ion-card>

  

</ion-content>