<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Prodv</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>


</ion-header>

<ion-content class="page-content">

<ion-toolbar >

  <ion-segment mode="ios"  (ionChange)="changeSegment($event)" value="Copa_Gualaquiza" scrollable>

    <ion-segment-button mode="ios" value="Copa_Gualaquiza" >
      <ion-label class="text-selected-item" >Copa Gualaquiza</ion-label>
    </ion-segment-button>

    <ion-segment-button mode="ios" value="Liga_Pro" >
      <ion-label class="text-selected-item" >Liga Pro</ion-label>
    </ion-segment-button>

    <ion-segment-button mode="ios" value="Internacional" >
      <ion-label class="text-selected-item" >Internacional</ion-label>
    </ion-segment-button>

  </ion-segment> 

</ion-toolbar>



<div *ngIf="opcion=='Copa_Gualaquiza'"  class="content-copa-gualaquiza">
  <ion-label color="primary" >
    Hola Soy Copa Gualaquiza
    
  </ion-label>
</div>

<div *ngIf="opcion=='Liga_Pro'" class="content-liga-pro"  >
  <ion-label color="primary" >
    Hola Soy Liga ProBetcris
  </ion-label>
</div>

<div *ngIf="opcion=='Internacional'" class="content-internacional"  >
  <ion-label color="primary" >
    Hola Soy Futbol Internacional

  </ion-label>
</div>

 
  
</ion-content>