<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Prodv</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-toolbar >
  <ion-segment mode="ios"  (ionChange)="changeSegment($event)" value="Copa Gualaquiza" scrollable  >
    <ion-segment-button mode="ios" [value]="mode" *ngFor="let mode of modes" >
      <ion-label class="text-selected-item" >{{mode}}</ion-label>
    </ion-segment-button>
  </ion-segment> 
</ion-toolbar>

 <ion-content class="page-content">

<div class="content-copa-gualaquiza" *ngIf=" mode == 'Copa Gualaquiza'" >
  <ion-label color="primary" >
    Hola Soy Copa Gualaquiza
    
  </ion-label>
</div>

<div class="content-liga-pro" *ngIf=" mode == 'Liga Pro'" >
  <ion-label color="primary" >
    Hola Soy Liga ProBetcris

  </ion-label>
</div>

<div class="content-internacional" *ngIf=" mode == 'Internacional'" >
  <ion-label color="primary" >
    Hola Soy Futbol Internacional


  </ion-label>
</div>

 
  
</ion-content>