<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Prodv</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>


</ion-header>

<ion-content class="page-content">

<ion-toolbar >

  <ion-segment mode="ios"  (ionChange)="changeSegment($event)" value="Copa_Gualaquiza" scrollable>

    <ion-segment-button mode="ios" value="Copa_Gualaquiza" >
      <ion-label class="text-selected-item" >Copa Gualaquiza</ion-label>
    </ion-segment-button>

    <ion-segment-button mode="ios" value="Liga_Pro" >
      <ion-label class="text-selected-item" >Liga Pro</ion-label>
    </ion-segment-button>

    <ion-segment-button mode="ios" value="Internacional" >
      <ion-label class="text-selected-item" >Internacional</ion-label>
    </ion-segment-button>

  </ion-segment> 

</ion-toolbar>


<!-- PAGINA DE COPA GUALAQUIZA -->


<ion-content class="page-content"  *ngIf="opcion=='Copa_Gualaquiza'">
  <div class="encabezado">
    <ion-label class="titulo"> Proximos partidos </ion-label>
  </div>
  

<!-- Prueba de nuevo estilo -->

<div class="div_cuarto">
  <ion-grid class="grid_cuarto">
    
    <ion-row class="row_cuarto">
      <ion-col (click)="anterior()" class="col_ant" size="3">
        <ion-label class="text_ant">ANT</ion-label>
      </ion-col>
      <ion-col class="col_grupo" size="6">
        <ion-label class="ion-label-item-cuarto">{{this.titulo}}</ion-label>
      </ion-col>
      <ion-col (click)="siguiente()" class="col_sig" size="3">
        <ion-label class="text_sig">SIG</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>

</div>

<div *ngFor="let equipo of gene" class="partidos">
    <ion-grid>
    
    <ion-row class="row_fecha">
      
      <ion-col class="col_tex_fecha" size="6">
        
        <ion-label  class="label_fecha">
          {{equipo.fecha | date : "dd/MM/yyyy"}}
        </ion-label>
        
      </ion-col>
    </ion-row>
    <ion-row>
      
      <ion-col class="col_nom_eq1" size="3">
        <ion-label class="label_e1">
          {{equipo.nombre_e1}}
        </ion-label>
      </ion-col>
      
      <ion-col class="col_img" size="2">
        <ion-item lines="none" class="item_avatar">
          <img class="con_img" [src]="equipo.escudo_e1">
        </ion-item>
        
      </ion-col>
      <ion-col class="col_vs" size="2">
        <ion-label class="label_tittle_vs">
          {{equipo.fecha| date : "HH:mm"}}
        </ion-label>
      </ion-col>
      <ion-col class="col_img" size="2">
        <ion-item lines="none" class="item_avatar">
          <img class="con_img" [src]="equipo.escudo_e2">
        </ion-item>
      </ion-col>
      
      <ion-col class="col_nom_eq2" size="3">
        <ion-label class="label_e2">
          {{equipo.nombre_e2}}
        </ion-label>
      </ion-col>
    </ion-row>
    
    
  </ion-grid>
</div>
<!-- finalizado -->
<div *ngFor="let equipo of genef" class="partidos">
  <ion-grid>
  
  <ion-row class="row_fecha">
    <ion-col class="col_finalizado" size="4">
      <ion-label class="text_finalizado">Finalizado</ion-label>
    </ion-col>
    <ion-col class="col_tex_fecha" size="4">
      
      <ion-label  class="label_fecha">
        {{equipo.fecha | date : "dd/MM/yyy"}}
      </ion-label>
      
    </ion-col>
    <ion-col class="col_icon" size="4">
       
    </ion-col>
  </ion-row>
  
  <ion-row>
    
    <ion-col class="col_nom_eq1" size="3">
      <ion-label class="label_e1">
        {{equipo.nombre_e1}}
      </ion-label>
    </ion-col>
    
    <ion-col class="col_img" size="2">
      <ion-item lines="none" class="item_avatar">
        <img class="con_img" [src]="equipo.escudo_e1">
      </ion-item>
      
    </ion-col>
    <ion-col class="col_vs" size="2">
      <ion-label class="label_tittle_vs">
        {{equipo.res_e1}}-{{equipo.res_e2}}
      </ion-label>
    </ion-col>
    <ion-col class="col_img" size="2">
      <ion-item lines="none" class="item_avatar">
        <img class="con_img" [src]="equipo.escudo_e2">
      </ion-item>
    </ion-col>
    
    <ion-col class="col_nom_eq2" size="3">
      <ion-label class="label_e2">
        {{equipo.nombre_e2}}
      </ion-label>
    </ion-col>
  </ion-row>
  
  
</ion-grid>
</div>

<!-- Grupo 1 -->
<div *ngIf="gru1"  class="div_grupo">
  <ion-grid class="grid_cuarto">
    <ion-row class="row_cuarto">
      <ion-col class="col_grupo1" size="6">
        <ion-label class="ion-label-item-grupo">Grupo 1</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<div *ngFor="let equipo of grupo1" class="partidos">

  <ion-grid>

    <ion-row class="row_fecha">

      <ion-col class="col_tex_fecha" size="6">
        
        <ion-label  class="label_fecha">
          {{equipo.fecha | date : "dd/MM/yyy"}}
        </ion-label>
        
      </ion-col>
    </ion-row>



    <ion-row>

      <ion-col class="col_nom_eq1" size="3">
        <ion-label class="label_e1">
          {{equipo.nombre_e1}}
        </ion-label>
      </ion-col>

      <ion-col class="col_img" size="2">
        <ion-item lines="none" class="item_avatar">
          <img class="con_img" [src]="equipo.escudo_e1">
        </ion-item>

      </ion-col>
      <ion-col class="col_vs" size="2">
        <ion-label class="label_tittle_vs">
          {{equipo.fecha| date : "HH:mm"}}
        </ion-label>
      </ion-col>
      <ion-col class="col_img" size="2">
        <ion-item lines="none" class="item_avatar">
          <img class="con_img" [src]="equipo.escudo_e2">
        </ion-item>
      </ion-col>

      <ion-col class="col_nom_eq2" size="3">
        <ion-label class="label_e2">
          {{equipo.nombre_e2}}
        </ion-label>
      </ion-col>
    </ion-row>


  </ion-grid>
</div>
<!-- finalizado -->

<div *ngFor="let equipo of grupof1" class="partidos">

  <ion-grid>

    <ion-row class="row_fecha">

      <ion-col class="col_finalizado" size="4">
        <ion-label class="text_finalizado">Finalizado</ion-label>
      </ion-col>
      <ion-col class="col_tex_fecha" size="4">
        
        <ion-label  class="label_fecha">
          {{equipo.fecha | date : "dd/MM/yyy"}}
        </ion-label>
        
      </ion-col>
      <ion-col class="col_icon" size="4">
         
      </ion-col>
    </ion-row>



    <ion-row>

      <ion-col class="col_nom_eq1" size="3">
        <ion-label class="label_e1">
          {{equipo.nombre_e1}}
        </ion-label>
      </ion-col>

      <ion-col class="col_img" size="2">
        <ion-item lines="none" class="item_avatar">
          <img class="con_img" [src]="equipo.escudo_e1">
        </ion-item>

      </ion-col>
      <ion-col class="col_vs" size="2">
        <ion-label class="label_tittle_vs">
          {{equipo.res_e1}}-{{equipo.res_e2}}
        </ion-label>
      </ion-col>
      <ion-col class="col_img" size="2">
        <ion-item lines="none" class="item_avatar">
          <img class="con_img" [src]="equipo.escudo_e2">
        </ion-item>
      </ion-col>

      <ion-col class="col_nom_eq2" size="3">
        <ion-label class="label_e2">
          {{equipo.nombre_e2}}
        </ion-label>
      </ion-col>
    </ion-row>


  </ion-grid>
</div>

<!-- Grupo 2 -->
<div *ngIf="gru2" class="div_grupo">
  <ion-grid class="grid_cuarto">
    <ion-row class="row_cuarto">
      <ion-col class="col_grupo1" size="6">
        <ion-label class="ion-label-item-grupo">Grupo 2</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<div *ngFor="let equipo of grupo2" class="partidos">

  <ion-grid>

    <ion-row class="row_fecha">

      <ion-col class="col_tex_fecha" size="6">
        
        <ion-label  class="label_fecha">
          {{equipo.fecha | date : "dd/MM/yyyy"}}
        </ion-label>
        
      </ion-col>
    </ion-row>



    <ion-row>

      <ion-col class="col_nom_eq1" size="3">
        <ion-label class="label_e1">
          {{equipo.nombre_e1}}
        </ion-label>
      </ion-col>

      <ion-col class="col_img" size="2">
        <ion-item lines="none" class="item_avatar">
          <img class="con_img" [src]="equipo.escudo_e1">
        </ion-item>

      </ion-col>
      <ion-col class="col_vs" size="2">
        <ion-label class="label_tittle_vs">
          {{equipo.fecha| date : "HH:mm"}}
        </ion-label>
      </ion-col>
      <ion-col class="col_img" size="2">
        <ion-item lines="none" class="item_avatar">
          <img class="con_img" [src]="equipo.escudo_e2">
        </ion-item>
      </ion-col>

      <ion-col class="col_nom_eq2" size="3">
        <ion-label class="label_e2">
          {{equipo.nombre_e2}}
        </ion-label>
      </ion-col>
    </ion-row>


  </ion-grid>
</div>

<!-- finalizado -->

<div *ngFor="let equipo of grupof2" class="partidos">
  <ion-grid>
    <ion-row class="row_fecha">
      <ion-col class="col_finalizado" size="4">
        <ion-label class="text_finalizado">Finalizado</ion-label>
      </ion-col>
      <ion-col class="col_tex_fecha" size="4">
        
        <ion-label  class="label_fecha">
          {{equipo.fecha | date : "dd/MM/yyy"}}
        </ion-label>
        
      </ion-col>
      <ion-col class="col_icon" size="4">
         
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col class="col_nom_eq1" size="3">
        <ion-label class="label_e1">
          {{equipo.nombre_e1}}
        </ion-label>
      </ion-col>

      <ion-col class="col_img" size="2">
        <ion-item lines="none" class="item_avatar">
          <img class="con_img" [src]="equipo.escudo_e1">
        </ion-item>

      </ion-col>
      <ion-col class="col_vs" size="2">
        <ion-label class="label_tittle_vs">
          {{equipo.res_e1}}-{{equipo.res_e2}}
        </ion-label>
      </ion-col>
      <ion-col class="col_img" size="2">
        <ion-item lines="none" class="item_avatar">
          <img class="con_img" [src]="equipo.escudo_e2">
        </ion-item>
      </ion-col>

      <ion-col class="col_nom_eq2" size="3">
        <ion-label class="label_e2">
          {{equipo.nombre_e2}}
        </ion-label>
      </ion-col>
    </ion-row>


  </ion-grid>
</div>



</ion-content>


<!-- FIN DE LA COPA GUALAQUIZA -->



<div *ngIf="opcion=='Liga_Pro'" class="content-liga-pro"  >
  <ion-label color="primary" >
    Hola Soy Liga ProBetcris
  </ion-label>
</div>

<div *ngIf="opcion=='Internacional'" class="content-internacional"  >
  <ion-label color="primary" >
    Hola Soy Futbol Internacional

  </ion-label>
</div>

 
  
</ion-content>