<!-- <ion-header>
  <ion-toolbar>
    <ion-title>page_main_menu</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="content">

  <ion-tabs class="content_tabs">

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Local">
        <ion-icon name="football"></ion-icon>
        <!-- <div class="div_icon">
          <img class="img_icon" src="../../../assets/icon/Soccer Field 60px.png">
        </div> -->
        <ion-label class="text-icon">Local</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
  
      <ion-tab-button tab="LigaPro">
        <ion-icon name="ribbon"></ion-icon>
        <!-- <div class="div_icon">
          <img class="img_icon" src="../../../assets/icon/soccer-field-60px.png">
        </div> -->
        <ion-label class="text-icon">Liga Pro</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Internacional">
        <ion-icon name="earth"></ion-icon>
        <ion-label class="text-icon">Internacional</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Perfil">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label class="text-icon">Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
