.content{
    --background: white;
}

ion-tab-bar{
    // --background: #F5F5F5;
    bottom: 0;
    // --color:black;
    
    position: absolute;
    width: 100%;
}
ion-tab-button{
    --color-selected:#075E54;  
}

.div_icon{
    // border: 1px solid black;
    display: flex;
    position: relative;
    height: 40px;
    width: 40px;
}

.img_icon{
    margin-top: auto;
    margin-bottom: auto;  
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    width: 25;
}
.text-icon{
    font-size: 12px;

}